---
image:
  registry: ghcr.io
  project: where-to-eat-hackathon/where-to-eat/telegram_bot
  tag: 0.1.0

tgApi:
  token: "${BOT_TOKEN}"

replicas: 1

rabbitmq:
  url: "{{ .Release.Name }}-rabbitmq"
  port: 5672
  inputQueueName: "jobs"
  outputQueueName: "results"
  auth:
    username: "user"
    secret:
      userKey: ""
      passwordKey: "rabbitmq-password"
      secretName: "{{ .Release.Name }}-rabbitmq"
