---
.storage-class: &storageclass "csi-ceph-ssd-gz1-retain"

rabbitmq:
  global:
    storageClass: *storageclass
  # auth:
  #   username: "${RMQ_USERNAME}"
  #   password: "${RMQ_PASSWORD}"

  resources:
    requests:
      cpu: 300m
      memory: "256Mi"
    limits:
      cpu: 800m
      memory: "512Mi"

  clustering:
    forceBoot: true

qdrant:
  resources:
    requests:
      cpu: 200m
      memory: "512Mi"
    limits:
      cpu: 1
      memory: "1024Mi"
  persistence:
    storageClassName: *storageclass

nlp-service:
  image:
    tag: 0.1.0
  resources:
    requests:
      cpu: 500m
      memory: "1024Mi"
    limits:
      cpu: 1
      memory: "2048Mi"
