---
.storage-class: &storageclass "csi-ceph-ssd-gz1-retain"

rabbitmq:
  global:
    storageClass: *storageclass
  # auth:
  #   username: "${RMQ_USERNAME}"
  #   password: "${RMQ_PASSWORD}"

  resources:
    requests:
      cpu: 300m
      memory: "256Mi"
    limits:
      cpu: 800m
      memory: "512Mi"

  clustering:
    forceBoot: true

qdrant:
  resources:
    requests:
      cpu: 200m
      memory: "512Mi"
    limits:
      cpu: 1
      memory: "1024Mi"
  persistence:
    storageClassName: *storageclass

nlp-service:
  image:
    project: where-to-eat-hackathon/where-to-eat/nlp-service
    tag: python-service_ed477f
  resources:
    requests:
      cpu: 300m
      memory: "1024Mi"
    limits:
      cpu: 1
      memory: "2048Mi"
  qdrant:
    collectionName: "reviews-MiniLM-L12-V2"

telegram-bot:
  image:
    tag: main_a8da15
  resources:
    requests:
      cpu: 100m
      memory: "256Mi"
    limits:
      cpu: 250m
      memory: "384Mi"
  tgApi:
    token: "${BOT_TOKEN}"
