---
name: "Build images and push to Github container registry"
on:
  push:
    pull_requests:
    branches: ["*"]
    # paths:
    #   - nlp-service/**
    #   - telegram-bot/**
jobs:
  generate-matrix:
    name: "Build images for modified components"
    outputs:
      changed: ${{ steps.set-matrix.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v40
        with:
          json: true
          quotepath: false
          dir_names: true
          dir_names_exclude_current_dir: true
          dir_names_max_depth: 1
          files: "nlp-service"
      - name: List all changed files
        run: echo '${{ steps.changed-files.outputs.all_changed_files }}'
      - id: set-matrix
        run: echo "matrix=${{ steps.changed-files.outputs.all_changed_files }}" >> "$GITHUB_OUTPUT"

  build-images:
    name: Build "${{ matrix.files }}"
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.changed != '[]' }}
    strategy:
      matrix:
        component: ${{ fromJSON(needs.generate-matrix.outputs.changed) }}
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: "ghcr.io/${GITHUB_REPOSITORY}/${{ matrix.component }}:${GITHUB_REF_NAME}_${GITHUB_SHA:0:6}"
    steps:
      - uses: actions/checkout@v4

      - name: Login into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Build container image ("${{ matrix.component }}")
        run: |
          cd ${{ matrix.component }}
          docker build -t "$IMAGE_NAME" --label "runid=${GITHUB_RUN_ID}"

      - name: Push to container registry
        run: docker push "$IMAGE_NAME"
