---
name: "Build images and push to Github container registry"
on:
  push:
    branches: ["*"]
    paths:
      - nlp-service/**
      - telegram_bot/**
jobs:
  generate-matrix:
    name: "Build images for modified components"
    outputs:
      changed: ${{ steps.detect.outputs.changed }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Detect Directory Changes
        id: detect
        uses: tchupp/actions-detect-directory-changes@v1
        with:
          included-paths: "nlp-service,telegram_bot"

  build-images:
    name: Build "${{ matrix.component }}"
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.changed != '[]' }}
    strategy:
      matrix:
        component: ${{ fromJSON(needs.generate-matrix.outputs.changed) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Build container image ("${{ matrix.component }}")
        run: |
          cd ${{ matrix.component }}
          export IMAGE_NAME="ghcr.io/${GITHUB_REPOSITORY}/${{ matrix.component }}:${GITHUB_REF_NAME}_${GITHUB_SHA:0:6}"
          docker build -t "$IMAGE_NAME" --label "runid=${GITHUB_RUN_ID}" .

      - name: Push to container registry
        run: |
          export IMAGE_NAME="ghcr.io/${GITHUB_REPOSITORY}/${{ matrix.component }}:${GITHUB_REF_NAME}_${GITHUB_SHA:0:6}"
          docker push "$IMAGE_NAME"
